#############
## R Studio
#############
.Rproj.user
.RData
.Rhistory
*_cache


#############
## Specific to this project
#############
images
data/Infidelity Data.csv
data/Lecturer Data.csv
data/Lecturer Data.txt
data/Metallica Data.csv
data/Metallica Data.txt
data/Album Sales With Diagnostics.dat
data/teachingMethodData.txt
